.container-fluid{
    padding: 0 20px;
    overflow: hidden;
    
}


.btn-get-started{
    font-weight: 500;
    font-size: 14px;
    background-color: transparent !important;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 50px;
    transition: 0.2s;
    text-decoration: none;
    margin: 0;
    color: #002378;
    border:2px solid #002378;
}  
.cta{
    background-color: transparent !important;

}  
.heading{
    border-left:5px solid #fecc00 ;
    padding-left: 16px;
    color: #002378;
    
}
.heading2{
    text-align: center;
    position: relative;
    
    margin-top: 40px;
    padding: 20px 0;
    margin-right: 0px;
    
}
.heading2::after{
   content: '';
   height: 5px;
   width: 10%;
   position:absolute;
   background-color: #fecc00;
   left: 0;
   bottom: 0;
   left: 45%;
   
}
.colo{
    margin-top: 80px;
    margin-bottom: 60px;
    background: white;
}
.colo p{
    padding-left: 20px;
}
.colo h4{
    padding-left: 20px;
    color: #002378;
}

.cards1{
    background-color: #1c2335 !important;
    color: white !important;
}
.color2{
    color: white !important;
}
.row3{
    background: white;
    background-image: none;
    margin-bottom: 50px;
}
.card{
    background-color: #2d374f;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    padding: 12px 0;
    height: 350px;
    border-radius: 6px;
}
.card2{
    background-color: #2d374f;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    padding: 12px 0;
    height: 350px;
    border-radius: 6px;
}
.card3{
    background-image: url("../images/Group\ 6.svg");
    background-repeat: no-repeat;
    background-position: left top;
}
.card4{
    background-image: url("../images/Vector\ 28.svg");
    background-repeat: no-repeat;
    background-position: top right;
}
.card p{
    padding: 10px 0px;
}
.card h5{
    padding: 10px 0px;
}
.cardcol{
    margin-top: 12px;
}
.mt-5{
    align-content: center !important;
    text-align: center !important;
    align-items: center !important;
}
.btn-aboutus{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    align-content: center !important;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 50px;
    transition: 0.2s;
    text-decoration: none;
    color:#fff;
    border:2px solid #fff;
    margin-bottom: 40px;
} 
.cards2{
    background-image:url(../images/Rectangle\ 54.svg);
    color:#002378;
}
.heading3{
    text-align: left;
    position: relative;
    margin-top: 40px;
    padding: 20px 0;
    margin-right: 0px;
    text-decoration: none ;
    
}
.heading3::after{
   content: '';
   height: 5px;
   width: 8%;
   position:absolute;
   background-color: #fecc00;
   left: 0;
   bottom: 0;
   left: 0%;
   
}
.arrowcol{
   padding-top: 50px;
   padding-left: 300px; 
    
}
.arrowcol2{
    padding-top: 50px;
}

.row2{
    padding-top: 40px;
    padding-bottom: 20px;
}
.text{
    width: 300px;
    font-size: 15px;
    padding-left: 20px;
}
.imgcol{
    width: 381px;
    height: 300px;
}
.box{
    justify-content:center;
    margin-left: 160px;
}
.btnimp{
    padding: 0px;
    margin-top: 0px;
    margin-left: -300px;
}
.infobox h6{
    color: #002378;
}
.infobox2 h6{
    color: #002378;
}
.infobox{
    padding:15px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.infobox2{
    padding:15px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.img3{
    width: 100px;
    height: 100px;
}
.faq{
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media screen and (max-width: 986px) {
    .box{
        justify-content:flex-start;
        margin-left: 0px;
    }
    .arrowcol2{
        padding-top: 00px;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .container-fluid{
        padding: 0 0px;
    }
    .colo{
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center !important;
        align-content: center !important;    
    } 
    .card p{
        padding: 10px 00px;
    }
    .card h5{
        padding: 10px 00px;
    }
    .btn-aboutus{
        visibility: hidden;
        display: none;
    }
    .heading3::after{
        content: '';
        height: 5px;
        width: 20%;
        position:absolute;
        background-color: #fecc00;
        left: 0;
        bottom: 0;
        left: 0%;
        
     }
    .row1{
        visibility: hidden;
        display: none;
    }
    .row2{
        padding-top: 20px;
        justify-content: center;
    }
    .arrowcol{
        padding: 0;
        text-align: center;
         
     }
     .arrowcol2{
        padding-top: 00px;
        text-align: center;
    }
    .dogsimg{
        width: 225px;
    }
    .box{
        justify-content:flex-start;
        margin-left: 0px;
        padding: 0;
    }
    .btnimp{
        padding-top: 0px;
        margin-left: 0px;
        padding-bottom: 20px;
    }
    .col2{
        visibility: hidden;
        display: none;
        
    }
    .infobox2{
        visibility:hidden;
        display: none;
    }
    

}